<div id="<%= dom_id cliente %>">
  <p>
    <strong>Nombre:</strong>
    <%= cliente.nombre %>
  </p>

  <p>
    <strong>Contacto:</strong>
    <%= cliente.contacto %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= cliente.direccion %>
  </p>

</div>
