<div id="<%= dom_id inventory_entry %>">
  <p>
    <strong>Warehouse:</strong>
    <%= inventory_entry.warehouse_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= inventory_entry.date %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= inventory_entry.total %>
  </p>

</div>
