<h1>Editing inventory entry</h1>

<%= render "form", inventory_entry: @inventory_entry %>

<br>

<div>
  <%= link_to "Show this inventory entry", @inventory_entry %> |
  <%= link_to "Back to inventory entries", inventory_entries_path %>
</div>
