<h1>Editing remission note</h1>

<%= render "form", remission_note: @remission_note %>

<br>

<div>
  <%= link_to "Show this remission note", @remission_note %> |
  <%= link_to "Back to remission notes", remission_notes_path %>
</div>
