<div id="<%= dom_id cash_register %>">
  <p>
    <strong>Sale:</strong>
    <%= cash_register.sale_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= cash_register.date %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= cash_register.total_amount %>
  </p>

</div>
