<h1>Editing quotation detail</h1>

<%= render "form", quotation_detail: @quotation_detail %>

<br>

<div>
  <%= link_to "Show this quotation detail", @quotation_detail %> |
  <%= link_to "Back to quotation details", quotation_details_path %>
</div>
