<div id="<%= dom_id quotation %>">
  <p>
    <strong>Client:</strong>
    <%= quotation.client_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= quotation.date %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= quotation.total %>
  </p>

</div>
