<h1>New inventory entry detail</h1>

<%= render "form", inventory_entry_detail: @inventory_entry_detail %>

<br>

<div>
  <%= link_to "Back to inventory entry details", inventory_entry_details_path %>
</div>
