<h1>Editing sale detail</h1>

<%= render "form", sale_detail: @sale_detail %>

<br>

<div>
  <%= link_to "Show this sale detail", @sale_detail %> |
  <%= link_to "Back to sale details", sale_details_path %>
</div>
